//*****************************************************
//*   CONTACT PAGE
//*****************************************************

.contact-bgImg-container{
    @include bgImg(100vh, $main-bgImg-path);
    nav{
        // border:2px solid red;
        height: 40vh;
    }
}

.contact{
    // border:2px solid red;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.5rem;
        gap: 2.5rem 2rem;
        justify-content: center;
        align-items: center;
    }
    .text-secondary{
        color: $secondary-color;
    }
}