// @import "../../scss/mixins";
.contact-bgImg-container{
    @include bgImg(100%, $main-bgImg-path);
    nav{
        height: 40vh;
    }
}

.contact{
    
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20rem;

   
    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.8rem;
        gap: 2.5rem 2rem;
        justify-content: center;
        align-items: center;
    }
    .text-secondary{
        color: $secondary-color;
    }
}