
.home-bgImg-container{
    @include bgImg(100%, $main-bgImg-path);
 }
 
 .home{
 
     height: 85vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     padding-top: 3rem;
     h2{
         font-size: 27px;
     }
 
     &__name{
         font-size: 5.5rem;
         padding-bottom: 1rem;
         margin-bottom: 1rem;
         border-bottom: 3px solid #fff;
         &--last{
             color: red;
             font-weight: 700;
         }
         
     }
     
 }