.link-style{
    a{
        padding: 0.5rem;
        @include transition(1s);
        &:hover{
            color: $secondary-color;
        }
    }
}
footer.horizontal{
    height: 10vh;
    display:flex ;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.4rem;
    @extend .link-style;
}
footer.vertical{

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    .social-icons{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
        @extend .link-style;
        a{
            padding: 1rem;}
    }
    .copyright{
        position: fixed;
        bottom: 1rem;
        right: 3rem;
        writing-mode: vertical-lr;
    }
}
footer.middle{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    @extend .link-style;
}
.fa-lg{
    font-size: 36px;
}