@import "./base/reset";

@import "./abstracts/mixins", "./abstracts/variables";

@import "./pages/about", "./pages/contact", "./pages/home", "./pages/projects";

@import "./components/footer", "./components/nav", "./components/responsive";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

body{
    font-family: $font-family;
    line-height: 1;
    color: $text-color;
    height: 100vh;
    background-color: $primary-color;

}

a{
    text-decoration: none;
    color: $text-color;
}

h1,h2,h3{
    font-weight: 400;
}